
button{
    background: #616B57;
    border: 1px solid #000000;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 6px 13px;
    &:hover{
        background: #447C0B;
    }


}

.wrap{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    .wrapper_body{
        box-sizing: border-box;
        max-width: 1302px;
        margin: 0 auto;
        padding-top: 23px;
        .header_wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            header{
                ul{
                    list-style-type: none;
                    a{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 34px;
                    letter-spacing: 0.075em;
                    color: #616B57;
                    &:hover{
                        color: #447C0B;
                    }                
                    }
                }
            }
        }
        section.wrap_main{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .wrap_slider{
                position: relative;
                .slaider_item{
                    display: grid;
                    height: 390px;
                    //flex-wrap: wrap;
                   // justify-content: space-between;
                    grid-template-columns: 142px 1fr;
                    width: 880px;
                    background-color: #F2F0F0;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px;
                    padding: 17px 17px 1px 17px;
                    box-sizing: border-box;
                    img{
                        width: 142px;
                        height: 165px;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                    .items_content{
                        margin-top: 20px;
                        justify-self: end;
                        width: 676px;
                        display: grid;
                        grid-template-columns: 1fr 354px;
                        div{
                            h2{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 36px;
                                line-height: 44px;
                                color: #000000;
                                margin: 0;
                            }
                            p{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 29px;
                                color: #000000;
                                margin-top: 0;
                                margin-bottom: 14px;
                            }
                        }
                        ul{
                            margin: 0;
                            padding: 0;
                            li{
                                list-style-type: none;
                                font-family: 'Imprima';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 23px;
                                color: #000000;
                            }
                        }
                        button{
                            display: block;
                            align-self: end;
                            justify-self: end;
                        }
                    }
                    div.title{
                        margin-top: 10px;
                        grid-column: 1/span 2;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 32px;
                        color: #000000;
                        display: none;
                    }
                    .wrap_swiper2{
                        width: 844px;
                        height: 196px;
                    }
                    .imges_item{
                        margin-top: 18px;
                        display: flex;
                        justify-content: space-between;
                        grid-column: 1/span 2;
                        width: 100%;
                        img{
                            display: inline-block;
                            width: 201px;
                            height: 165px;
                        }
                    }
                }
                
                .btn_top, .btn_botton{
                    position: absolute;
                    top: 16px;
                    right: 100px;
                    left: auto;
                    background: #616B57;
                    border-radius: 6px;
                    padding: 9px 5px;
                    transform: rotate(90deg);

                    span{
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 29px;
                        color: #FFFFFF;
                        
                    }

                    &:hover{
                        background: #447C0B
                    }
                }
                .btn_botton{
                    top: auto;
                    bottom: 0px;
                    img{
                        transform: rotate(180deg);
                    }
                } 
            }
            .order_menu{
                height: 796px;
                padding: 0 15px;
                background-repeat: 6px;
                border: 2px solid #325015;
                border-radius: 10px;
                position: relative;
                div.calendar{
                    background: #f2f0f0;
                    border-radius: 6px;
                    width: 370px;
                    height: 370px;
                    margin: 15px 0;
                }
                form#order{
                    padding-top: 11px;
                    .date_time{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        justify-content: flex-end;
                        p{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 36px;
                            line-height: 36px;
                            letter-spacing: 0.075em;
                            color: #746F6F;
                            margin: 0;
                        }
                        select{
                            width: 148px;
                            border: 1px solid #000000;
                            border-radius: 6px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 35px;
                            line-height: 48px;
                            letter-spacing: 0.075em;
                            padding: 0 14px;
                            text-align: right;
                            &:focus, &:hover{
                                background: #d0dec4;
                            }
                        }
                    }
                    p{
                        margin: 0;
                        margin-top: 14px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.075em;
                        color: #325015;
                    }
                    .color_error{
                        color: red;
                    }
                    select{
                        width: 100%;
                        border: 1px solid #000000;
                        border-radius: 6px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.075em;
                        padding: 8px 0 8px 17px;
                        &:focus, &:hover{
                            background: #d0dec4;
                        }
                    }
                    button.order_sabmit{
                        display: block;
                        // margin-left: auto;
                        // margin-top: 75px;
                        // margin-bottom: 15px;
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        margin-top: 40px;
        background: #ADBB9F;
        padding: 23px 0;
        .footer_wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1302px;
            margin: 0 auto;
            align-items: center;
            a{
                text-decoration: none;
                &:first-child{
                    font-family: 'Imprima';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 28px;
                    color: #000000;
                }
                &:last-child{
                    justify-self: end;
                    img{
                        text-align: end;
                    }
                }
            }
            .developer{
                text-align: center;
                font-family: 'Imprima';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                color: #000000;
                a{
                    color: #000000;
                }
            }
        }
    }
    .modal_submit{
        display: none;
        position: absolute;
        z-index: 2;
        top: calc(50% - 258px);
        left: calc(50% - 210px);
        text-align: center;
        margin: 0 auto;
        width: 420px;
        border-radius: 10px;
        background: #FFFFFF;
        border: 1px solid #b0acac;
        img{
            margin-top: 71px;
            margin-bottom: 31px;
        }
        p{
            width: 320px;
            margin: 0 auto;
            margin-bottom: 24px;
        }
        p.s_end{
            margin-top: 10px;
            margin-bottom: 195px;
            font-size: 24px;
        }
        label{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.075em;
            color: #000000;
        }
        input{
            border: 1px solid #000000;
            border-radius: 6px;
            width: 218px;
            height: 42px;
            margin-bottom: 16px;
            margin-top: 6px;
            &::placeholder{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.075em;
                color: #A8A8A8;
                padding-left: 10px;
            }
            &:valid{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.075em;
                padding-left: 10px;
            }
        }
        button{
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
    }
    div.bg{
        display: none;
        opacity: 0%;
        position: absolute;
        width: 100%;
        height: 100%;
        background:rgba(0, 0, 0, 0.3);
        z-index: 1;
        top: 0;
    }
    div.active{
        display: block;
        opacity: 100%;
    }
}

//calenddar
#monthHeader {
    color: #616c57;
    font-size: 20pt;
}
.button-container-calendar button {
    background: #616c57;
    border-radius: 6px;
    padding: 5px 9px;
    top: 0;
}
.button-container-calendar {
    margin-bottom: 0;
}
.table-calendar {
    border-top: 1px solid #616c57;
}
#date-picked {
    left: 19px;
    text-align: start;
    color: #000000;
    border-top: none;
    padding-top: 0px;
    position: absolute;
    top: 410px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.02em;
    margin: 0;
}
#date-picked.err_date{
    color: red;
    font-size: 26px;
    line-height: 24px;
    text-align: center;
}
.date-picker{
    border-color: #616c57;
    span{
        color: #616c57;
    }
}

//sweper
.swiper-wrapper {
    height: 800px;
}
.swiper-button-next, .swiper-button-prev{
    &:after{
        display: none;
    }
}

.wrap .wrapper_body section.wrap_main .wrap_slider .slaider_item .imges_item{
    height: 250px;
}
.wrap .wrapper_body section.wrap_main .wrap_slider .slaider_item .wrap_swiper2{
    height: 190px;
}
#elem{
    top: auto;
    bottom: 0px;
    position: absolute;
    z-index: 5;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
        background:  #616c57;
}

.error_sabmit{
    margin-top: 40px;
    display: none;
    color: red;
    font-size: 26px;
    line-height: 20px;
}

div.active{
    display: block;
}


