
button{
    background: #616B57;
    border: 1px solid #000000;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 6px 13px;
    &:hover{
        background: #447C0B;
    }


}

body{
    max-width: 1440px;
    margin: 0 auto;
    .wrapper{
        box-sizing: border-box;
        max-width: 1302px;
        margin: 0 auto;
        margin-top: 23px;
        .header_wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            header{
                ul{
                   list-style-type: none;
                   a{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 34px;
                    letter-spacing: 0.075em;
                    color: #616B57;
                    &:hover{
                        color: #447C0B;
                    }                
                   }
                }
            }
        }
        section.wrap_main{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .wrap_slider{
                position: relative;
                .slaider_item{
                    display: grid;
                    //flex-wrap: wrap;
                   // justify-content: space-between;
                   grid-template-columns: 142px 1fr;
                    width: 880px;
                    background-color: #F2F0F0;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px;
                    padding: 17px;
                    box-sizing: border-box;
                    margin-bottom: 6px;
                    img{
                        width: 142px;
                        height: 165px;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                    .items_content{
                        justify-self: end;
                        width: 676px;
                        display: grid;
                        grid-template-columns: 1fr 354px;
                        div{
                            h2{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 36px;
                                line-height: 44px;
                                color: #000000;
                                margin: 0;
                            }
                            p{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 29px;
                                color: #000000;
                                margin-top: 0;
                                margin-bottom: 14px;
                            }
                        }
                        ul{
                            margin: 0;
                            padding: 0;
                            li{
                                list-style-type: none;
                                font-family: 'Imprima';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 23px;
                                color: #000000;
                            }
                        }
                        button{
                            display: block;
                            align-self: end;
                            justify-self: end;
                        }
                    }
                    .imges_item{
                        margin-top: 18px;
                        display: flex;
                        justify-content: space-between;
                        grid-column: 1/span 2;
                        width: 100%;
                        img{
                            display: inline-block;
                            width: 201px;
                            height: 178px;
                        }
                    }
                }
                div.slider_btn{
                    div.btn_top, .btn_botton{
                        position: absolute;
                        top: -26px;
                        right: 267px;
                        background: #616B57;
                        border-radius: 25px;
                        display: inline-block;
                        padding: 12px 30px;
                        &:hover{
                            background: #447C0B
                        }
                    }
                    div.btn_botton{
                        top: auto;
                        bottom: -26px;
                        img{
                            transform: rotate(180deg);
                        }
                    } 
                }
            }
            .order_menu{
                height: 796px;
                padding: 0 15px;
                background-repeat: 6px;
                border: 2px solid #325015;
                border-radius: 10px;
                position: relative;
                div.calendar{
                    background: #f2f0f0;
                    border-radius: 6px;
                    width: 370px;
                    height: 320px;
                    margin: 15px 0;
                }
                form#order{
                    padding-top: 11px;
                    .date_time{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        p{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 36px;
                            line-height: 36px;
                            letter-spacing: 0.075em;
                            color: #746F6F;
                            margin: 0;
                        }
                        select{
                            width: 148px;
                            border: 1px solid #000000;
                            border-radius: 6px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 35px;
                            line-height: 48px;
                            letter-spacing: 0.075em;
                            padding: 0 14px;
                            text-align: right;
                            &:focus, &:hover{
                                background: #d0dec4;
                            }
                        }
                    }
                    p{
                        margin: 0;
                        margin-top: 14px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.075em;
                        color: #325015;
                    }
                    select{
                        width: 100%;
                        border: 1px solid #000000;
                        border-radius: 6px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.075em;
                        padding: 8px 0 8px 17px;
                        &:focus, &:hover{
                            background: #d0dec4;
                        }
                    }
                    button.order_sabmit{
                        display: block;
                        // margin-left: auto;
                        // margin-top: 75px;
                        // margin-bottom: 15px;
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        margin-top: 40px;
        background: #ADBB9F;
        padding: 23px 0;
        .footer_wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1302px;
            margin: 0 auto;
            align-items: center;
            a{
                text-decoration: none;
                &:first-child{
                    font-family: 'Imprima';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 28px;
                    color: #000000;
                }
                &:last-child{
                    justify-self: end;
                    img{
                        text-align: end;
                    }
                }
            }
            .developer{
                text-align: center;
                font-family: 'Imprima';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                color: #000000;
                a{
                    color: #000000;
                }
            }
        }
    }

}